<div class="row">
  <div class="col-xs-12">
    <img
      style="max-height: 300px"
      [src]="recipe.imagePath"
      alt=""
      class="img-responsive"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <div class="nav-item dropdown" (click)="toggleVisible()">
        <button type="button" class="btn btn-primary dropdown-toggle">
          Manage Recipe
        </button>
        <ul
          class="dropdown-menu"
          aria-labelledby="navbarDropdown"
          [ngClass]="{ show: dropdownVisible }"
        >
          <li class="dropdown-item"><a href="#">To Shopping Lis</a></li>
          <li class="dropdown-item"><a href="#">Edit Recipe</a></li>
          <li class="dropdown-item"><a href="#">Delete Recipe</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">{{ recipe.description }}</div>
</div>
<div class="row">
  <div class="col-xs-12">Ingredients</div>
</div>
