<ul class="list-group">
  <li class="list-group-item list-group-item-action" routerLinkActive="active">
    <a
      style="
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        color: black;
      "
      [routerLink]="[index]"
    >
      <div>
        <h4 class="mb-1">{{ recipe.name }}</h4>
        <p class="mb-1">{{ recipe.description }}</p>
      </div>
      <span>
        <img
          src="{{ recipe.imagePath }}"
          alt="{{ recipe.name }}"
          class="img-responsive"
          style="max-height: 50px"
        />
      </span>
    </a>
  </li>
</ul>
